CONFIG_IDF_TARGET="esp32"
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_CONSOLE_UART_DEFAULT=y
CONFIG_LIBC_STDIN_LINE_ENDING_CRLF=y
CONFIG_NEWLIB_STDIN_LINE_ENDING_CRLF=y
CONFIG_MESH_ROUTER_SSID="FOREST_ROUTER"
CONFIG_MESH_ROUTER_PASSWD="FOREST_PASSWORD"
CONFIG_MESH_AP_PASSWD="forest_mesh"
