menu "SS Forest Mesh Configuration"

    config MESH_CHANNEL
        int "Mesh channel"
        range 0 14
        default 0

    config MESH_ROUTER_SSID
        string "Router SSID"
        default "ROUTER_SSID"

    config MESH_ROUTER_PASSWD
        string "Router password"
        default "ROUTER_PASSWD"

    choice
        bool "Mesh AP Authentication Mode"
        default WIFI_AUTH_WPA2_PSK

        config WIFI_AUTH_OPEN
            bool "WIFI_AUTH_OPEN"
        config WIFI_AUTH_WPA_PSK
            bool "WIFI_AUTH_WPA_PSK"
        config WIFI_AUTH_WPA2_PSK
            bool "WIFI_AUTH_WPA2_PSK"
        config WIFI_AUTH_WPA_WPA2_PSK
            bool "WIFI_AUTH_WPA_WPA2_PSK"
    endchoice

    config MESH_AP_AUTHMODE
        int
        default 0 if WIFI_AUTH_OPEN
        default 2 if WIFI_AUTH_WPA_PSK
        default 3 if WIFI_AUTH_WPA2_PSK
        default 4 if WIFI_AUTH_WPA_WPA2_PSK

    config MESH_AP_PASSWD
        string "Mesh AP password"
        default "mesh_pass"

    config MESH_AP_CONNECTIONS
        int "Mesh AP child connections"
        range 1 10
        default 6

    config MESH_NON_MESH_AP_CONNECTIONS
        int "Mesh AP non-mesh connections"
        range 0 9
        default 0

    config MESH_IE_ENCRYPTED
        bool "Encrypt Mesh IE"
        default y

    config MESH_MAX_LAYER
        int "Mesh max layer"
        range 1 25
        default 6

    config MESH_ROUTE_TABLE_SIZE
        int "Mesh routing table size"
        range 1 300
        default 50

    config MESH_USE_GLOBAL_DNS_IP
        bool "Use global DNS IP"
        default n

    config MESH_GLOBAL_DNS_IP
        hex "Global DNS IP"
        depends on MESH_USE_GLOBAL_DNS_IP
        default 0x08080808

endmenu
